#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  color: rgb(67, 65, 98);
}

.upload-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;
}

.upload {
  display: flex;
  /* background-color: #eee; */
  width: 80vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  border: 10px dashed #eee;
  font-size: 30px;
  font-weight: 200;
  margin: 0 auto;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  overflow: hidden;
}

.content {
  flex: 1;
}

.tab {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.tab li {
  /* position: relative; */
  padding: 10px 20px;
  border-right: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tab li:hover {
  background-color: rgb(240, 247, 255);
  color: rgb(33, 103, 255);
  /* font-weight: 500; */
}

.tab li:hover::after {
  content: attr(data-description);
  position: absolute;
  left: 20px;
  bottom: 20px;
  /* white-space: nowrap; */
  width: 300px;
  color: #666;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px 20px;
  font-weight: 200;
}

.tab li.active {
  background-color: rgb(240, 247, 255);
  color: rgb(33, 103, 255);
  /* background-color: rgb(219, 235, 255); */
  border-color: rgb(240, 247, 255);
  /* font-weight: 500; */
}

.tab-icon {
  display: inline-flex;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.tab-icon svg {
  width: 100%;
  height: 100%;
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
  /* background-color: #eee; */
  padding: 20px;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid #eee;
  align-items: center;
}

.sidebar-title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 800;
}

.font-names {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 240px;
}

.font-names li {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  white-space: w;
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.font-names__label {
  /* background-color: #eee; */
  display: inline-block;
  padding: 0px 5px;
  border-radius: 10px;
  margin-right: 5px;
  width: 110px;
  text-align: right;
  flex: 0 0 110px;
  font-weight: 200;
  /* color: #666; */
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-wrapper {
  overflow: auto;
  flex: 1
}

.unicode-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  background-color: #eee;
  grid-gap: 1px;
  border-bottom: 1px solid #eee;
  /* grid-template-rows: ; */
}

.unicode-list li::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.unicode-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  display: flex;
}

.unicode-list li:hover {
  background-color: rgb(240, 247, 255);
  cursor: pointer;
}

.unicode-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.unicode-cover > span:first-child,
.unicode-cover > span:nth-child(2) {
  font-size: 12px;
  color: #999;
  line-height: 1.2;
}

.unicode-cover > span:nth-child(2) {
  margin-bottom: 5px;;
}

.unicode-search {
  border-bottom: 1px solid #eee;
  display: flex;
}

.unicode-search input {
  border: none;
  width: 100%;
  padding: 10px 10px;
  outline: none;
}

.os2-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  background-color: #eee;
  grid-gap: 1px;
  border-bottom: 1px solid #eee;
  /* grid-template-rows: ; */
}

/* .os2-list li::before {
  content: "";
  padding-bottom: 100%;
  display: block;
} */

.os2-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  display: flex;
  padding: 20px 0;
}

.os2-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.os2-cover > span:first-child {
  font-size: 12px;
  color: #999;
}

.pagination {
  list-style: none;
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.pagination li {
  padding: 5px 10px;
  border: 1px solid #eee;
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
}

.pagination li.curpage {
  border: none;
  cursor: default;
}


.subset-list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* white-space: wrap;
  width: 100%;
  overflow: auto; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  background-color: #eee;
  grid-gap: 1px;
  border-bottom: 1px solid #eee; */
  /* grid-template-rows: ; */
}

/* .os2-list li::before {
  content: "";
  padding-bottom: 100%;
  display: block;
} */

.subset-list li {
  margin-bottom: 10px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  display: flex;
  padding: 20px 0; */
}

.subset-title {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: stretch;
}

.subset-cover > span:first-child {
  /* font-size: 12px;
  color: #999; */
}

.subset-range {
  display: block;
  font-size: 12px;
  /* border-bottom: 1px solid #eee; */
  /* border-left: 5px solid #eee; */
  /* margin-bottom: 10px; */
  padding: 0 10px;
  flex: 1;
}

.subset-range > span {
  display: inline-block;
  background: #eee;
  margin-right: 2px;
  padding: 0 5px;
  margin-bottom: 2px;
}

.subset-index {
  background-color: #eee;
  /* border-right: 1px solid #eee; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  flex: 0 0 50px;
}

.subset {
  display: inline-block;
  margin-right: 10px;
}

.subset-code {
  background-color: #eee;
  padding: 0 5px;
  margin-right: 5px;
}

.glyph-info {
  display: flex;
  height: 100%;
}

.glyph-sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 10px 10px;
  margin: 0;
  font-weight: 500;
  border-right: 1px solid #eee;
  flex: 1 0 240px;
  max-width: 280px;
  font-size: 12px;
}

.glyph-sidebar span {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 5px;
  line-height: 2;
  font-weight: 200;
}

.glyph-canvas {
  /* background-color: #eee; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.glyph-canvas canvas {
  /* background-color: #eee; */
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.glyph-canvas .glyph-canvas-el {
  transform: translate(-50%, -50%) matrix(1, 0, 0, -1, 0, 0);
}
